/* close commented backslash hack */
.page-content {
  padding: 10px 0;
}

.page-content .mdl-card {
  width: auto;
  max-width: 90%;
  margin: 0 auto;
}

.mdl-list {
  margin-top: 0;
  padding-top: 0;
}

.mdl-list__item--three-line .mdl-list__item-text-body {
  margin-left: 56px;
  height: auto;

}

.mdl-list__item--three-line .mdl-list__item-primary-content {
  height: auto;
}

.mdl-list__item--three-line {
  height: auto; 
  min-height: 80px;
  border-bottom: 1px solid #f2f2f2;
}

.mdl-list__item--three-line:last-child {
  border-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__tab-bar {
      width: calc(100% - 120px);
      padding: 0 0 0 60px;
  }
}
